.git
.gitignore
.DS_Store

**/.env
**/.env.*
!**/.env.example
!**/.env.template

**/.venv
**/node_modules
**/.npm
**/.cache
**/.turbo
**/dist
**/.output
**/build
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.coverage
**/*.py[cod]
**/*.tsbuildinfo
